.container {
  border-radius: 10px;
  background-color: hsl(216, 50%, 16%);
  width: 350px;
  box-shadow: 0px 2px 16px 2px rgba(0, 0, 0, 0.2);
  padding: 23px;
  margin: 50px auto;
}

.image-container {
  position: relative;
}

.main-pic {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10%;
}

.title {
  color: hsl(178, 100%, 50%);
  padding: 15px 0;
  font-size: 22px;
  font-family:'Outfit', sans-serif;
  font-weight: 600;
  cursor: pointer;

}

.description {
  color: hsl(215, 51%, 70%);
  padding: 15px 0;
  font-size: 18px;
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
}

.info {
  border-bottom: 1px solid hsl(215, 51%, 70%);
  padding-top: 15px;
  padding-bottom: 30px;
  height: 30px;
  position: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.detail {
  display: flex;
  gap: 5px;
  align-items: center;
}

.icon {
  width: 13px;
  height: 20px;
}

.icon-clock {
  width: 15px;
  height: 15px;
}

.price-text {
  width: 200px;
  font-size: 15px;
  font-family: 'Outfit', sans-serif;
  color: hsl(178, 100%, 50%);
  font-weight: 300;
}

.time-text {
  font-size: 15px;
  color: hsl(215, 51%, 70%);
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
  
}

.creator {
  display: flex;
  position: relative;
  padding: 15px 0;
  align-items: center;
}

.profile-pic {
  width: 30px;
  height: 30px;
  border: 2px solid white;
  border-radius: 50%;

}

h3 {
  color:hsl(215, 51%, 70%);
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
  font-size: 15px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.hover-mode:hover{
  color:hsl(178, 100%, 50%);
  cursor: pointer;
}


.overlay {
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 7s ease;
  border-radius: 10px;
  background-color: hsl(215, 51%, 70%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.view-icon {
  height: 50px;
  width: 50px;
}